@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #062ee0;
}
::-webkit-scrollbar-thumb{
  background-color: #100650;
}
* {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
}
body{
  overflow-x: hidden;
}

